flask
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
flask-bcrypt
flask-mail
flask-caching
flask-limiter
python-dotenv
email-validator
wtforms
alembic
gunicorn
google-genai
razorpay
apscheduler
reportlab
weasyprint
elasticsearch
requests
pywebpush
pillow
